.game-cover {
    height: calc(100vh - 80px);
    position: relative;
    z-index: 10;
}

.static-bg {
    background: url(../../../assets/images/bg1.jpg) !important
}
.static-bg-2 {
    background: url(../../../assets/images/bg2.jpg) !important
}

.game-cover-card {
    min-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 50px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    cursor: pointer;
}

.game-cover-title {   
    font-size: 80px;
    width: fit-content;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
}

.game-cover-text {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(255,255,255,0.6);
    max-width: 900px;
}

.game-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));
    z-index: -1;
}

.game-description {
    width: 100%;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    background-color: rgba(0,0,0,0.4);
}

.game-cover-button {
    text-decoration: none;
    width: fit-content;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.6rem 2rem;
    border-radius: 40px;
    margin-top: 1rem;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    transition: all 0.4s ease;
}


.game-cover-button:hover {
    box-shadow: 0 1px 20px var(--primary-color);
    transition: all 0.4s ease;
}

.game-description {
    gap: 80px;
}

.game-description-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.game-description-text {
    white-space: pre-line;
}

.game-description-image {
    width: 700px; 
    height: auto; 
    image-rendering: optimizeQuality;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
}

.system-req,
.screenshots {
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    height: fit-content;
    position: relative;
    z-index: 10;
}

.system-req::before,
.screenshots::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0.9), #000);
    z-index: -1;
}

.screenshots::before {
    background: radial-gradient(rgba(0,0,0,0.6), #000);
    backdrop-filter: blur(2px);
}

.system-card-container{
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 60px;
}

.system-card {
    background-color: rgba(222, 15, 16, 0.1);
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    min-width: 300px;
    padding: 20px;
}

.system-card-title {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 0;
    font-size: 22px;
}

.system-card-text {
    font-size: 22px;
}


.carousel {
    margin: 50px 0;
}

::ng-deep .custom-arrow {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    /* background: transparent; */
    color: #fff;
    border-radius: 100%;
    background-color: var(--primary-color);
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 2;
}

::ng-deep .slick-custom-next {
    right: -25px;
}

::ng-deep .slick-custom-prev {
    left: -25px;
} 

::ng-deep .slick-slide {
    width: 1366px;
    height: 768px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

::ng-deep .slick-slide img {
    width: 1366px;
    height: 768px;
}


.section-padding {
    padding: 80px;
}

@media screen and (max-width: 1280px){
    .game-description {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .game-description-title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    ::ng-deep .slick-slide,
    ::ng-deep .slick-slide img {
        width: 100%;
        height: auto;
    }

    .carousel {
        margin-top: 30px;
    }
    .system-card-container {
        margin: 30px 0;
    }

    .system-card {
        min-width: 220px;
    }

    .system-card-title,
    .system-card-text {
        font-size: 16px;
    }

    .game-cover-title {
        font-size: 52px;
    }
    .game-cover-text {
        font-size: 18px;
    }

    .game-cover-card{
        min-width: fit-content;
        width: auto;
        padding: 26px
    }

    .game-cover-button {
        font-size: 18px;
        padding: 6px 20px;
    }
}

@media screen and (max-width: 700px) {
    .game-description-image {
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .game-description-title {
        font-size: 28px;
    }

    .game-description {
        padding: 40px 0 !important;
    }
    .game-description-image {
        width: 100%;
    }
    .game-description-content {
        padding: 0 20px;
    }

    .section-padding {
        padding: 20px;
    }
    .system-card {
        min-width: auto;
        max-width: 240px;
        height: fit-content;
    }
    .system-card-container {
        gap: 14px;
    }
    ::ng-deep .custom-arrow { 
        height: 35px;
        width: 35px;
    }
    ::ng-deep .pi{
        font-size: 12px;
    }
}

@media screen and (max-width: 420px){

    .game-cover {
        height: 50vh;
    }
    
    .game-cover-title {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .game-cover-text {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .game-cover-button {
        font-size: 14px;
        padding: 4px 16px;
    }

    .system-card {
        width: 100%;
        max-width: 100%;
    }
    
    ::ng-deep .slick-custom-next {
        right: -20px;
    }

    ::ng-deep .slick-custom-prev {
        left: -20px;
    } 
}