<div class="footer-container">
    <!-- <div class="d-flex justify-content-between align-items-center footer">
        <img src="../../../assets/images/icon.png" alt="logo" class="footer-logo">
        <div class="d-flex align-items-center">
            <a class="text-decoration-none px-4 footer-item" [routerLink]="['home']" routerLinkActive='active'>Home</a>
            <a class="text-decoration-none px-4 footer-item" [routerLink]="['category']" routerLinkActive='active'>Category</a>
        </div>
    </div> -->
    
    <div class="d-flex justify-content-center align-items-center">
        <p class="copyright-text">© 2022 All Rights Reserved. Designed & Developed By Keval Vadhiya</p>
    </div>
</div>