<div class="body-padding nav-container">
    <nav class="nav d-flex align-items-center justify-content-between">
        <div class="nav-logo">
            <img src="../../../assets/images/icon.png" alt="logo" [routerLink]="['/']">
        </div>

        <div class="nav-items d-flex">
            <a class="text-decoration-none px-4 nav-item" (click)="closeMenu()" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active'>Home</a>
            <a class="text-decoration-none px-4 nav-item" (click)="closeMenu()" [routerLink]="['/category']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive='active'>Category</a>
        </div>
    </nav>
</div>