
.nav-container {
    background: rgba(128, 2, 2, 0.4);
    backdrop-filter: blur(4px);
}

.nav {
    height: 80px;
}

.nav-logo {
    width: 50px;
    height: 50px;
}

.nav-item {
    color: var(--text-color);
    transition: all 0.2s ease;
}

.nav-item:hover,
.nav-item.active {
    color: var(--primary-color);
    transition: all 0.2s ease;
}

@media screen and (max-width: 600px){
    .nav-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background: linear-gradient(150deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 22%, rgba(128,2,2,0.4) 88%, rgba(128,2,2,0.4) 100%);
    }

    .nav {
        height: 100vh;
        flex-direction: column;
        justify-content: center !important;
    }

    .nav-logo {
        display: none;
    }

    .nav-items {
        flex-direction: column;
        gap: 10px;
        font-size: 24px;
    }

    .nav-item {
        padding: 8px 24px;
        text-align: center;
        transform:skew(-15deg);

    }

    
    .nav-item:hover,
    .nav-item.active {
        background: rgba(128,2,2);
        color: #fff;
        transform:skew(-15deg);
        border: 1px solid rgba(255,255,255,0.6);
    }
}